[Desktop Entry]
Type=Application
Name=Swit
Comment=Video studio: review storyboards, videos and comments
Exec=swit
Icon=swit
Terminal=false
Categories=AudioVideo;Video;
StartupWMClass=swit
